rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para Clientes
    match /clientes/{clienteId} {
      allow read, write: if true;
    }

    // Regra para Agendamentos
    match /agendamentos/{agendamentoId} {
      allow read, write: if true;
    }

    // Regra para Unidades / Lava-Jatos
    match /unidades/{unidadeId} {
      allow read, write: if true;
    }

    // Default permissivo para desenvolvimento e testes
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

